body {
    background-color: #00CED1; /* Azul turquesa */
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.erro {
    color: red;
}

.output {
    margin-top: 20px;
}

.output-data {
    font-size: 36px;
    color: red;
}